<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      Perfil
    </ion-title>
    <ion-button fill='clear' slot='end'color='light' mode='ios' (click)="edit()">
        <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card [hidden]='update' class="animated bounceInUp">
      <img class='fotoperfil' src="http://br.web.img3.acsta.net/c_215_290/pictures/16/09/05/17/16/068414.jpg">
      <ion-card-header>
        <ion-card-subtitle>Gabriel</ion-card-subtitle>
        <ion-card-title>Segundinha</ion-card-title>
        <ion-item>
          <ion-label>Segundinha</ion-label>
          <ion-note slot="end" color="success">11</ion-note>
        </ion-item>
      </ion-card-header>
    </ion-card>

    <div [hidden]="!update">
      <ion-item>
        <input type="file" id="uploaduser"/>
        <ion-label position="floating">Comentário</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>

</ion-content>

